* {
    margin: 0;
    padding: 0;
}

.nav_div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}

.nav ul {
    list-style-type: none;
}

.nav li a {
    text-decoration: none;
    color: #000;
    display: block;

}