* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: lightblue;
    height: 200px;
    text-align: center;
}

.box {
    width: 350px;
    height: 200px;

}

main,
.container1, .container2 {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.box1 {
    background-color: red;
}
.box2{
    background-color: green;
}
.box3{
background-color: blue;
}
.box4{
    background-color: blueviolet;
}