* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}
.box {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  border-radius: 10px;
  position: relative;
}
.box2 {
  position: relative;
  left: 140px;
  background-color: lightcoral;
  z-index: 1;
}
