/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

.programmer-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.programmer-card img {
    /* width: 100%; */
    /* height: auto; */
    width: 30px;
    border-bottom: 1px solid #ddd;
}

.programmer-card h2 {
    margin: 0;
    padding: 10px 0;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    font-size: 1.2rem;
}

.programmer-card p {
    padding: 10px;
    font-size: 0.9rem;
    color: #555;
}
